@charset "utf-8";

@media screen and (min-width:768px) and (max-width:992px) {
/* configuração para tablet */

    body {
        background-image:linear-gradient(to top, rgb(35, 39, 35),blueviolet);
    }


    #login {
        width: 80vw;
    }

    #login>#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login>#formulario {
        float: right;
        width: 70%;
    }

    #login > #formulario {
        display: block;
        padding: 10px;
    }
    
    #login >#formulario >h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    #formulario > p {
        font-size: 0.8m;
    }
}
  




@media screen and (min-width: 992px) {
/* configuração para pc's */

    #login {
        width: 900px;
    }

    #login>#imagem {
        float: left;
        width: 30%;
        height: 100%;
    
    }

    #login > #formulario {
        float: right;
        width: 70%;

    }

    #login > #formulario {
        display: block;
        padding: 10px;
    }
    
    #login >#formulario >h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    #formulario > p {
        font-size: 0.8m;
    }
    
    form > .campo {
        display: block;
        background-color: blueviolet;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px;
    }

    .campo > label {
        display: none;
    }
    .campo >span {
        box-sizing: border-box;
        color: white;
        font-size: 3em;
        width: 40px;
        padding: 5px;
        
        
       
    }

    .campo >input {
        background-color: bisque;
        height: 50px;
        width: 90%;
        
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .campor > label {
        margin-left: -10px;
    }



    form > input [type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background-color: rgb(164, 101, 223);
        color: white;
        border: none;
        border-radius: 7px;
    }
    

}

