@charset "utf-8";

/* 
configuração geral

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color:blueviolet;
    height: 100vh;
    width: 100vw;

}

main {
    height:100vh;
    width: 100vw;
    position: relative;

}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 270px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);

    transition: width 0.3s;
}

#login > #imagem {
    display: block;
    background: url(../imagens/img01.jpg)no-repeat;
    background-size: cover;
    background-position: left botton;
    height: 200px;
}

#login > #formulario {
    display: block;
    padding: 10px;
}

#login >#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8m;
}

input {
    outline: 0;
    box-shadow: 0px;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(164, 101, 223);
    color: white;
    border: none;
    border-radius: 7px;
    
}

form>input[type=submit]:hover {
    background-color: blueviolet;
    box-shadow: 2px 2px 2px rgba(107, 21, 187, 0.507);
    cursor: pointer;
}

form >a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(113, 65, 158);
    font-size: 1em;
    width: 100%;
    height: 40px;

    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    border: 1px solid rgb(164, 101, 223);
    border-radius: 7px;

}

form > a.botao:hover {
    background-color: rgb(164, 101, 223);
    color: white;

}

form > a.botao > span {
    font-size: em;
}

